<div class="container">
    <div class="form-container">
        <div class="row-fields-container form title-bottom-padding">
            <h2 class="form-title">LOGIN</h2>
            <h5 class="form-subtitle">i campi con * sono obbligatori</h5>
        </div>
        <form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="row-fields-container">
                <div class="field-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Username</mat-label>
                        <input matInput formControlName="username" id="username" type="text">
                        <mat-icon matSuffix (click)="loginForm.controls['username'].reset()">close</mat-icon>
                    </mat-form-field>
                    <div *ngIf="loginForm.controls['username'].touched && loginForm.controls['username'].invalid">
                        <mat-error *ngIf="loginForm.controls['username'].errors && loginForm.controls['username'].errors['required']">L'username è obbligatorio.</mat-error>
                    </div>
                </div>
                <div class="field-container">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput formControlName="password" id="password" type="password">
                        <mat-icon matSuffix (click)="loginForm.controls['password'].reset()">close</mat-icon>
                    </mat-form-field>
                    <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
                        <mat-error *ngIf="loginForm.controls['password'].errors && loginForm.controls['password'].errors['required']">La password è obbligatoria.</mat-error>
                    </div>
                </div>
            </div>
            <div class="row-fields-container">
                <button mat-raised-button class="submitButton" color="primary" [disabled]="loginForm.invalid" type="submit">ACCEDI</button>
            </div>
            <div class="row-fields-container">
                Non hai ancora un account? <a href="register">Registrati</a>
            </div>
        </form>
    </div>
</div>