<div class="container">
  <mat-toolbar color="primary">
    <span>{{title}}</span>
    <span class="spacer"></span>
    <button routerLink="home" mat-flat-button color="primary">First page</button>
    <button routerLink="private" mat-flat-button color="primary">Second page</button>
    <button *ngIf="!api.isAuth" routerLink="login" mat-flat-button color="primary">Login / Signup</button>
    <button *ngIf="api.isAuth" (click)="logout()" mat-flat-button color="primary">Logout</button>
  </mat-toolbar>
  <div class="page-content">
    <router-outlet></router-outlet>
  </div>
</div>